 .css1{
	color: red;
	text-decoration: none;
	font-size: 20px;
	font-family: helvetica, Sans-serif
}
p{
	color:orange;
	font-size: 30px;
	font-family: helvetica, Sans-serif ;

}
h1{
	color: green;
	font-size: 35px;
	font-family: sans-serif;
}
.css2{
	color: magenta;
	font-size: 15px;
	font-family: helvetica, Sans-serif
}