a{
    color:blue;
    text-decoration: none;
}
h3{
    color:blue;
    font-size: 12pt;
    font-family: Arial;
}
h1{
    color:blue;
    font-size: 16pt;
    font-family: Arial;
}
.nomeCampo{
    color:black;
    font-size: 12pt;
    font-family: Arial;
}