h1{
    color:blue;
}
h2{
    font-size: 20px;
}
.Euquero{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
    background-color: aqua;
}
#peixoto{
    margin: 20px;
    background-color: aqua;
}
